<article id = "row" tag ="bounce">

<h1>Snow World!</h1>
<p>The theme for Algorithms with a Purpose Fall'13 is Snow World! In anticipation of the upcoming winter in Pittsburgh!</p>
<br />
<p>Snow World is a place where Eskimos, seals and polar bears live. Everyone lives peacefully until one day, an Evil Volcanic Wizard wants to take over Snow World by melting all the snow. However, no one except you knows about the wrath that snow world is expecting. The only way to stop the Evil Volcanic Wizard is to build a snowman big enough to go against him. It is up to you to stand up to this task! Save Snow World (And help further research at the same time!).
</p>


<h1>RELEASED: Snow World Problem (copy from the competition site which has been now taken down) </h1>
<p>
Snow World is a place where Eskimos, seals, polar bears, and everything cute lives. Everyone lives happily until one day, an Evil Volcanic Wizard wants to take over Snow World by melting all the snow. However, no one except you knows about the wrath that snow world is expecting. The only way to stop the Evil Volcanic Wizard is to build a snowman big enough to go against him. To do that you must collect the most amount of snow as possible! Polar bears and seals can't drive, so it is up to you to stand up to this task.
</p>
<BR>
<BR>
<p>
Unfortunately, things aren't so simple. Planning ahead, the evil wizard has stationed minions in every town of Snow World, and if you ever spend too much time in a city, they will find you and burn you (Bad thing happens when you get burned). Therefore, the only way you can collect snow is on the roads which connect each city (Like Pittsburgh, there's snow everywhere even on roads), and you can only pass through each town once. Visiting the town again will mean spending too much time in a single town and an evil minion will notice you and burn you. In addition, the snow is melting as the evil wizard is warming the world up! So as you move, the amount of snow on each road decreases. However, snow you have already collected doesn't melt because you put it in your infinite bottomless cooler.
</p>
<BR>
<BR>
<p>
Your task begins! Starting from your home city- Icicle City, you must travel around Snow World to collect snow. You will be always on the move and will stop once there is no other cities to go to from where you are. Remember! The more snow you have at the end of your travels the higher the chances of defeating the Evil Volcanic Wizard! So collect as much snow as possible!
</p>


<h1>What does this have to do with algorithms?</h1>
<p>The problem is presented in a 251-style format. Basically, we will give you a story and the parameters, which translate to the actual problem itself. Of course, we will also release a formal mathematical notation version of the problem during the competition if teams get lost on intepretting. </p>


</article>

<br />
<div id = "attributes">
  <span><%= link_to "Get a team together and Register Now!", "http://goo.gl/onHxCQ" %></span>
</div>
<div id="acmlogo">
<%= link_to(image_tag("acm_logo_black.png", :id => "registernow", :alt => "registernow", :style => "width: 250px;"),"http://acmatcmu.org") %>
</div>
<h3>Please direct questions, concerns, and free food to ACM-Algo coordinators at algo.acmatcmu@gmail.com</h3>
