<article id = "row" tag ="bounce">

<h1>Snow World!</h1>
<p>The theme for Algorithms with a Purpose Fall'13 is Snow World! In anticipation of the upcoming winter in Pittsburgh!</p>
<br />
<p>Snow World is a place where Eskimos, seals, polar bears, and everything cute lives. Everyone lives happily until one day, an Evil Volcanic Wizard wants to take over Snow World by melting all the snow. However, no one except you knows about the wrath that snow world is expecting. The only way to stop the Evil Volcanic Wizard is to build a snowman big enough to go against him. Btw, Polar bears and seals can't drive, so it is up to you to stand up to this task! Save Snow City (And help further research at the same time!).
</p>

<h1>What does this have to do with algorithms?</h1>
<p>The problem is presented in a 251-style format. Basically, we will give you a story and the parameters, which translate to the actual problem itself. Of course, we will also release a formal mathematical notation version of the problem during the competition if teams get lost on intepretting. </p>


</article>

<br />
<div id = "attributes">
  <span><%= link_to "Get a team together and Register Now!", "http://goo.gl/onHxCQ" %></span>
</div>
<h3>Please direct questions, concerns, and free food to ACM-Algo coordinators at algo.acmatcmu@gmail.com</h3>
