$dark-grey: #3b3c3d;
$light-grey: #a0a0a1;
$lighter-grey: #dadadc;

$nav-link-color: $dark-grey;
$reg-link-color: white;
$hover-link-color: black;
$nav-hover-link-color: black;
$nav-bg-color: white;

$gen-font : "Helvetica";



html {
   font-family: $gen-font;
   min-width: 850px;
}

h1 {
  font-family: $gen-font;
  font-size: 30px;
}

h2 {
   font-family: $gen-font;
   font-size: 20px;
   padding-left: 10px;
}

h3 {
   font-size: 15px;
   text-align:center;
   color: $dark-grey;
}

ul li {
  font-family: $gen-font;
  color: white;
}

#emphasis {
   font-size: 30px;
   font-style: italic;
   font-family: "impact";
}

#smalltext {
  font-size: 10px;
}

p {
  margin: auto auto;
  padding-left: 20px;
  padding-right: 10px;
  line-height: 150%;
  font-size: 18px;
  font-family: $gen-font;
  clear: both;
}

a {
  text-decoration: none;
  color: $reg-link-color;
}

a:hover {
  position: relative;
  top: 2px;
  color: $hover-link-color;
}

a:active {
  color: $light-grey;
}

#nav {
  padding: 20px;	
  letter-spacing: 1.75px;
  font-size: 20px;
  font-family: "Georgia";
  margin-bottom: 5px;
  text-align: center;
  margin-top: -35px;
  background-color: $nav-bg-color;

  a{
    color: $nav-link-color;
    padding: 20px;
  }
  a:hover{
    position: relative;
    top: 2px;
    color: $nav-hover-link-color;
  }
}

.navitem {
  color: black;

}

.center {
  text-align:center;
}

footer {
  background-color: $dark-grey;
  color: $light-grey;
  padding: 20px;
  text-align: right;
}
